{% extends "base.njk" %}

{% block content %}
<nav class='chart-nav' aria-label='extendedNavbar'>
  <a href='/financial-assistance/assets' class='chart-nav__container chart-nav__container--covid'>
    <p>FINANCIAL WELL-BEING DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
  <a href='/puf-data/insurance/' class='chart-nav__container chart-nav__container--puf'>
    <p>SURVEY FILE PUF DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
  <a href='/covid-data/preventive' class='chart-nav__container chart-nav__container--covid'>
    <p>COVID-19 DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>  
</nav>


<main class='about-main'>
  <div class='about'>
    <nav class='about__nav' aria-label='AboutPageContents'>
      <button class='about__nav__btn' id='about-contents-btn'>Contents</button>
      <div class='about__nav__list'>
        {% for item in aboutNav %}
        <a class='about__nav__list__link about__nav__list__link--{{item.class}}' href='{{item.link}}'>{{item.text}}</a>
        {% endfor %}
      </div>
    </nav>
    <article class='about__text'>
      <h1>{{title}}</h1>
      {{content | safe }}
    </article>
  </div>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script nonce="rSL6sN3cG8qWRkd67nv" language="JavaScript" type="text/javascript" src='/js/aboutScroll.js'></script>
{% endblock %}
