{% extends "base.njk" %}

{% block content %}
<div class='chart-nav'>
  <a href='/covid-data/preventive' class='chart-nav__container chart-nav__container--covid'>
    <h4>COVID-19 DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </h4>
  </a>
  <div class='chart-nav__container chart-nav__container--puf--active'>
    <h4>SURVEY FILE PUF DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </h4>
  </div>
</div>

<main class='chart-main'>
  <div class='chart-dropdown chart-dropdown--puf'>
    <button class='chart-dropdown__title'>{{title}}
      <svg class='chevron'>
        <use href='#rightchevron'/>
      </svg>
    </button>
    <div class='chart-dropdown__content'>
      {% for chart in collections.sortedPuf %}
        {% if chart.data.title != title %}
        <a href="{{ chart.url }}">{{chart.data.title}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class='iframe-container'>
    <iframe frameborder="0" class="rshinyframe" src="{{iframe}}" style="border: none; width: 100%;"></iframe>
  </div>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='/js/chart.js'></script>
{% endblock %}
