---
layout: navbar-footer.njk
---

<div class='chart-nav'>
  <div class='chart-nav__container chart-nav__container--covid--active'>
    <h4>COVID-19 DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </div>
  <a href='/puf-data/insurance/' class='chart-nav__container chart-nav__container--puf'>
    <h4>SURVEY FILE PUF DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </a>
</div>

<div class='chart-main'>
  <div class='chart-dropdown chart-dropdown--covid'>
    <h3 class='chart-dropdown__title'>{{title}}
      <svg class='chevron'>
        <use href='#rightchevron'/>
      </svg>
    </h3>
    <div class='chart-dropdown__content'>
      {% for chart in collections.sortedCovid %}
        {% if chart.data.title != title %}
        <a href="{{ chart.url }}">{{chart.data.title}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class='iframe-container'>
    <iframe frameborder="0" class="rshinyframe" src="{{iframe}}" title="daily life iframe" style="border: none; width: 100%;"></iframe>
  </div>
</div>
