---
layout: navbar-footer.njk
---

<div class='chart-nav'>
  <div class='chart-nav__container chart-nav__container--covid--active'>
    <h4>COVID-19 DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </div>
  <a href='/puf-data/insurance/' class='chart-nav__container chart-nav__container--puf'>
    <h4>SURVEY FILE PUF DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </a>
</div>

<div class='chart-main'>
  <h3>{{title}} chart goes here</h3>
</div>
