---
layout: navbar-footer.njk
---

<div class='chart-nav'>
  <a href='/covid-data/preventive' class='chart-nav__container chart-nav__container--covid'>
    <h4>COVID-19 DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </a>
  <div class='chart-nav__container chart-nav__container--puf--active'>
    <h4>SURVEY FILE PUF DATA TOOL
      <svg class='arrow'>
        <use href='#rightarrow'/>
      </svg>
    </h4>
  </div>
</div>

<div class='chart-main'>
  <h3>{{title}} chart goes here</h3>
</div>
