{% extends "base.njk" %}

{% block content %}
<nav class='chart-nav' aria-label='extendedNavbar'>
  <a href='/covid-data/preventive' class='chart-nav__container chart-nav__container--covid'>
    <p>COVID-19 DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
  <div class='chart-nav__container chart-nav__container--puf--active'>
    <p>SURVEY FILE PUF DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </div>
</nav>

<main class='chart-main'>
  <h1 class='sr-only'>{{title}}</h1>
  <div class='chart-dropdown chart-dropdown--puf'>
    <button class='chart-dropdown__title'>{{title}}
      <svg class='chevron'>
        <use href='#rightchevron'/>
      </svg>
    </button>
    <div class='chart-dropdown__content'>
      {% for chart in collections.sortedPuf %}
        {% if chart.data.title != title %}
        <a href="{{ chart.url }}">{{chart.data.title}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class='iframe-container'>
    <iframe frameborder="0" class="rshinyframe rshinyframe--{{name}}" src="{{iframe}}" title="{{title}} iframe"></iframe>
  </div>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script language="JavaScript" type="text/javascript" src='/js/chart.js'></script>
{% endblock %}
