---
layout: navbar-footer.njk
---

<div class='home-main'>
  <div class='home-container' id='hero'>
    <h1>{{hed}}</h1>
    <div class='hero-img'>
      <img src='/img/chart-screencap.png'>
      <a href='/puf-data/insurance/'><span>EXPLORE DATA TOOLS</span></a>
    </div>
    <div class='home-container__sharing'>
      <p>Share our data tools</p>
      {% include 'components/social.njk' %}
    </div>
  </div>

  <div class='home-container' id='carousel-container'>
    <div class='carousel-flex'>
      <div class='carousel-about'>
        <h2 class='homepage-label homepage-label__dkyellow'>Covid-19 data tool</h2>
        <h3>{{covidHed}}</h3>
        <p>{{covidText}}</p>
      </div>
      <div class='splide'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {% for chart in collections.sortedCovid %}
            <li class='splide__slide'>
              <img src='/img/carousel/{{chart.fileSlug}}.jpg'>
              <a class='slide__link' href="{{ chart.url }}">
                <div class='slide__info'>
                  <h4>{{ chart.data.title }}</h4>
                  <p>{{ chart.data.description }}</p>
                  <p class='slide__info__explore'>Explore data
                    <svg class='slide__info__explore__arrow'>
                      <use href='#rightarrow'/>
                    </svg>
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class='carousel-flex'>
      <div class='carousel-about'>
        <h2 class='homepage-label homepage-label__green'>Survey file PUF data tool</h2>
        <h3>{{pufHed}}</h3>
        <p>{{pufText}}</p>
      </div>
      <div class='splide'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {% for chart in collections.sortedPuf %}
            <li class='splide__slide'>
              <img src='/img/carousel/{{chart.fileSlug}}.jpg'>
              <a class='slide__link' href="{{ chart.url }}">
                <div class='slide__info'>
                  <h4>{{ chart.data.title }}</h4>
                  <p>{{ chart.data.description }}</p>
                  <p class='slide__info__explore'>Explore data
                    <svg class='slide__info__explore__arrow'>
                      <use href='#rightarrow'/>
                    </svg>
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='home-container' id='explore'>
    <h2 class='homepage-label homepage-label__blue'>Search MCBS data tools</h2>
    <form autocomplete='off' class='search-box'>
      <input type="text" class="search-box__input" placeholder="Search..." maxlength="25">
      <button class='search-box__button' type='submit'>Search</button>
    </form>
    <div class='search-results'>
      <p id='search-number' style='display:none;'>Your search returned no results</p>
      <ul class='search-results__list'></ul>
    </div>
  </div>
</div>
