{% extends "base.njk" %}

{% block content %}
<main class='home-main'>
  <div class='home-container' id='hero'>
    <h1>{{hed}}</h1>
    <div class='hero-img'>
      <img src='/img/chart-screencap.png' alt='Screen capture of MCBS data tool'>
      <a href='/puf-data/insurance/'><span>EXPLORE DATA TOOLS</span></a>
    </div>
  </div>

  <div class='home-container' id='sharing'>
    <p>Share our data tools</p>
    {% include 'components/social.njk' %}
  </div>
{# NEW CAROUSEL #}
  <div class='home-container' id='carousel-container'>
    <div class='carousel-flex'>
      <div class='carousel-about'>
        <h2 class='homepage-label'>{{financeKicker}}</h2>
        <h3>{{financeHed}}</h3>
        <p>{{financeText}}</p>
      </div>
      <div class='splide'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {# TODO: New carousel data #}
            {% for chart in collections.sortedFinancialAssistance %}
            <li class='splide__slide'>
              <img src='/img/carousel/{{chart.fileSlug}}.jpg' alt='{{ chart.data.imgAlt }}'>
              <a class='slide__link' href='{{ chart.url }}' aria-label='Link to {{ chart.data.title }} data tool'>
                <div class='slide__info'>
                  <h4>{{ chart.data.title }}</h4>
                  <div class='slide__info__text'>
                    <p>{{ chart.data.description }}</p>
                    <p class='slide__info__text--explore'>Explore data
                      <svg class='slide__info__text--explore__arrow'>
                        <use href='#rightarrow'/>
                      </svg>
                    </p>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {# COVID CAROUSEL #}
    <div class='carousel-flex'>
      <div class='carousel-about'>
        <h2 class='homepage-label'>{{covidKicker}}</h2>
        <h3>{{covidHed}}</h3>
        <p>{{covidText}}</p>
      </div>
      <div class='splide'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {% for chart in collections.sortedCovid %}
            <li class='splide__slide'>
              <img src='/img/carousel/{{chart.fileSlug}}.jpg' alt='{{ chart.data.imgAlt }}'>
              <a class='slide__link' href='{{ chart.url }}' aria-label='Link to {{ chart.data.title }} data tool'>
                <div class='slide__info'>
                  <h4>{{ chart.data.title }}</h4>
                  <div class='slide__info__text'>
                    <p>{{ chart.data.description }}</p>
                    <p class='slide__info__text--explore'>Explore data
                      <svg class='slide__info__text--explore__arrow'>
                        <use href='#rightarrow'/>
                      </svg>
                    </p>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{# PUF CAROUSEL #}
    <div class='carousel-flex'>
      <div class='carousel-about'>
        <h2 class='homepage-label'>{{pufKicker}}</h2>
        <h3>{{pufHed}}</h3>
        <p>{{pufText}}</p>
      </div>
      <div class='splide'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {% for chart in collections.sortedPuf %}
            <li class='splide__slide'>
              <img src='/img/carousel/{{chart.fileSlug}}.jpg' alt='{{ chart.data.imgAlt }}'>
              <a class='slide__link' href='{{ chart.url }}' aria-label='Link to {{ chart.data.title }} data tool'>
                <div class='slide__info'>
                  <h4>{{ chart.data.title }}</h4>
                  <div class='slide__info__text'>
                    <p>{{ chart.data.description }}</p>
                    <p class='slide__info__text--explore'>Explore data
                      <svg class='slide__info__text--explore__arrow'>
                        <use href='#rightarrow'/>
                      </svg>
                    </p>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='home-container' id='explore'>
    <h2 class='homepage-label homepage-label__blue' id='searchTitle'>Search MCBS data tools</h2>
    <div class='search-wrapper'>
      <form class='searchbox' autocomplete="off">
        <label id='searchLabel' for='search' class='sr-only'>Search:</label>
        <input type='text' name='search' id='search' placeholder='Type to search ...' aria-labelledby="searchTitle searchLabel">
        <ul class='searchbox__autocomplete'>
        </ul>
        <button type='submit' class='searchbox__icon'>
          <span class="sr-only">submit</span>
          <svg class='searchbox__icon__svg'>
            <use href='#searchIcon'/>
          </svg>
        </button>
      </form>
    </div>
    <div class='search-results'>
      <div id='search-number'></div>
      <ul class='search-results__list'></ul>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script nonce="rSL6sN3cG8qWRkd67nv" language="JavaScript" type="text/javascript" src='/js/splide.min.js'></script>
<script nonce="rSL6sN3cG8qWRkd67nv" language="JavaScript" type="text/javascript" src='/js/sliders.js'></script>
<script nonce="rSL6sN3cG8qWRkd67nv" language="JavaScript" type="text/javascript" src='/js/searchData.js'></script>
<script nonce="rSL6sN3cG8qWRkd67nv" language="JavaScript" type="text/javascript" src='/js/search.js'></script>
{% endblock %}
