---
layout: page.njk
footerLabel: About the MCBS
footerHed: The Medicare Current Beneficiary Survey
footerText: The MCBS is a continuous, multi-purpose longitudinal survey representing the population of Medicare beneficiaries living in the United States. The MCBS has been continuously conducted since 1991, completing more than 1.2 million interviews since its inception. The MCBS is designed to aid CMS in administering, monitoring, and evaluating the Medicare program, and is essential in providing important information on beneficiaries that is not otherwise collected through operational or administrative data from the Medicare  program.
footerLink: "Explore"
---

<div class='navbar'>
  <div class='nav-left'>
    <a href='/'>
      <div class='nav-logo'>
        <img src='/img/mcbs-logo-white.png'>
      </div>
    </a>
    <p class='nav-title'>MCBS Interactives</p>
  </div>
  <div class='nav-right'>
    <a href='/'>Home</a>
    <div class='dropdown'>
      <button class='drop-btn' id='about-btn' onclick="navDropdown('about')">About
        <svg class='navbar-chevron'>
          <use href='#downchevron'/>
        </svg>
      </button>
      <div class='dropdown-content' id='aboutDropdown'>
        {% for page in collections.about %}
        <a href="{{ page.url }}">{{ page.data.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class='dropdown'>
      <button class='drop-btn' id='tools-btn' onclick="navDropdown('tools')">Data Tools
        <svg class='navbar-chevron'>
          <use href='#downchevron'/>
        </svg>
      </button>
      <div class='dropdown-content' id='toolsDropdown'>
        <a href="/covid-data/preventive/">COVID-19 Data Tool</a>
        <a href="/puf-data/insurance/">Survey File PUF Data Tool</a>
      </div>
    </div>
    <a href='/contact/'>Contact Us</a>
  </div>
</div>
{{ content | safe }}
<div class='footer-top'>
  <div class='footer-top__social'>
    {% include 'components/social.njk' %}
  </div>
  <h2 class='footer-top__label'>{{footerLabel}}</h2>
  <h3 class='footer-top__hed'>{{footerHed}}</h3>
  <p class='footer-top__text'>{{footerText}}</p>
  <a class='footer-top__link' href='https://www.norc.org/Research/Projects/Pages/the-medicare-current-beneficiary-survey-.aspx'>{{footerLink}}</a>
</div>
<div class='footer-bottom'>
  <a href='https://www.norc.org'>
    <div class='foot-left'>
      <img src='/img/norc-logo-white.png'>
    </div>
  </a>
  <div class='foot-right'>
    <p>NORC at the University of Chicago</p>
    <p>55 East Monroe Street, Chicago, IL 60603</p>
    <p><a href='#'>Terms and Conditions</a> | <a href='#'>Privacy Policy</a></p>
    <p>&copy; 2021 NORC</p>
  </div>
</div>
