<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel='stylesheet' href="{{ '../../css/style.css' | url }}" />
  </head>
  <body>
    <div class='navbar'>
      <div class='nav-left'>
        <a href='/'>
          <div class='nav-logo'>Logo</div>
        </a>
        <p class='nav-title'>MCBS Interactives</p>
      </div>
      <div class='nav-right'>
        <a href='/'>Home</a>
        <div class='dropdown'>
          <button class='drop-btn' id='about-btn' onclick="navDropdown('about')">About
            <img src='/img/down_chevron.svg'>
          </button>
          <div class='dropdown-content' id='aboutDropdown'>
            {% for page in collections.about %}
            <a href="{{ page.url }}">{{ page.data.title }}</a>
            {% endfor %}
          </div>
        </div>
        <div class='dropdown'>
          <button class='drop-btn' id='tools-btn' onclick="navDropdown('tools')">Data tools
            <img src='/img/down_chevron.svg'>
          </button>
          <div class='dropdown-content' id='toolsDropdown'>
            <a href="/covid-data/preventative/">Covid-19 data tool</a>
            <a href="/puf-data/insurance-coverage-supplemental/">Survey file PUF data tool</a>
          </div>
        </div>
        <a href='/contact/'>Contact Us</a>
        <a href='/share/'>Share</a>
      </div>
    </div>
    {{ content | safe }}
    <div class='footer'>
      <div class='foot-left'>
        <a href='#'>logo</a>
      </div>
      <div class='foot-right'>
        <p>NORC at the University of Chicago</p>
        <p>55 East Monroe Street, Chicago, IL 60603</p>
        <p><a href='#'>Terms and Conditions</a> | <a href='#'>Privacy Policy</a></p>
        <p>&copy; 2021 NORC</p>
      </div>
    </div>
    <script>
      function navDropdown(dropdown) {
        let dropdownID = dropdown + 'Dropdown';
        document. getElementById(dropdownID).classList.toggle("show");
      }

      window.onclick = function(e) {
        if (e.target.id != 'tools-btn') {
          let targetDropdown = document.getElementById("toolsDropdown");
          if (targetDropdown.classList.contains('show')) {
            targetDropdown.classList.remove('show');
          }
        }
        if (e.target.id != 'about-btn') {
          let targetDropdown = document.getElementById("aboutDropdown");
          if (targetDropdown.classList.contains('show')) {
            targetDropdown.classList.remove('show');
          }
        }
      }
    </script>
  </body>
</html>
