---
social-desc: Interested in learning more about the health and well-being of the Medicare population, including the impact of COVID-19 and differences by year? Explore this dynamic tool using Medicare Current Beneficiary Survey (MCBS) data.
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <meta property="og:url" content="https://mcbs-interactives.norc.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ social-desc }}" />
    <meta property="og:image" content="/img/chart-screencap.png" />
    <meta name="og:image:alt" content="Charts from Medicare Current Beneficiary Survey data" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@NORCNews" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ social-desc }}" />
    <meta name="twitter:image" content="/img/chart-screencap.png" />
    <meta name="twitter:image:alt" content="Charts from Medicare Current Beneficiary Survey data" />

    <link rel='stylesheet' href="{{ '../../css/splide.min.css' | url }}" />
    <link rel='stylesheet' href="{{ '../../css/style.css' | url }}" />
  </head>
  <body>
    <div style="display:none;height:0;visibility:invisible;">
      {% include "../img/base-sprite.svg" %}
    </div>
    {{ content | safe }}
    <script>var exports = {};</script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.7/dist/js/splide.cjs.min.js"></script>
    <script src='/js/base.js'></script>
  </body>
</html>
