<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel='stylesheet' href="{{ '../../css/splide.min.css' | url }}" />
    <link rel='stylesheet' href="{{ '../../css/style.css' | url }}" />
  </head>
  <body>
    {{ content | safe }}
    <script>var exports = {};</script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.7/dist/js/splide.cjs.min.js"></script>
    <script src='/js/base.js'></script>
  </body>
</html>
