<footer>
  <div class='footer-top'>
    <div class='footer-top__social'>
      {% include 'components/social.njk' %}
    </div>
    <h2 class='footer-top__label'>About the MCBS</h2>
    <h3 class='footer-top__hed'>The Medicare Current Beneficiary Survey</h3>
    <p class='footer-top__text'>The MCBS is a continuous, multi-purpose longitudinal survey representing the population of Medicare beneficiaries living in the United States. The MCBS has been continuously conducted since 1991, completing more than 1.2 million interviews since its inception. The MCBS is designed to aid CMS in administering, monitoring, and evaluating the Medicare program, and is essential in providing important information on beneficiaries that is not otherwise collected through operational or administrative data from the Medicare program.</p>
    <a class='footer-top__link' href='https://www.norc.org/Research/Projects/Pages/the-medicare-current-beneficiary-survey-.aspx'>Explore</a>
  </div>
  <div class='footer-bottom'>
    <div class='footer-bottom__left'>
      <a href='https://www.norc.org'>
        <img src='/img/norc-logo-white.png'>
      </a>
    </div>
    <div class='footer-bottom__right' role='contentinfo'>
      <p>NORC at the University of Chicago</p>
      <p>55 East Monroe Street, Chicago, IL 60603</p>
      <p><a href='#'>Terms and Conditions</a> | <a href='#'>Privacy Policy</a></p>
      <p>&copy; 2021 NORC</p>
    </div>
  </div>
</footer>
