<nav class='navbar'>
  <a class='nav-left' href='/' aria-label='Medicare Current Beneficiary Survey Interactives'>
    <div class='nav-logo'>
      <img src='/img/mcbs-logo-white.png' alt='Medicare Current Beneficiary Survey logo'>
    </div>
    <p class='nav-title'>MCBS Interactives</p>
  </a>
  <div class='nav-right'>
    <button class='hamburger'>
      <span class="sr-only">Mobile navigation</span>
      <svg>
        <use href='#hamburger'/>
      </svg>
    </button>
    <div id='hamburger-content'>
      <a class='nav__link nav__link--home' href='/'>Home</a>
      <div class='dropdown'>
        <button class='drop-btn' id='about-btn'>About
          <svg class='navbar-chevron'>
            <use href='#rightchevron'/>
          </svg>
        </button>
        <div class='dropdown-content' id='about-btn-dropdown'>
          {% for page in collections.sortedAbout %}
          <a href="{{ page.url }}">{{ page.data.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class='dropdown'>
        <button class='drop-btn' id='tools-btn'>Data Tools
          <svg class='navbar-chevron'>
            <use href='#rightchevron'/>
          </svg>
        </button>
        <div class='dropdown-content' id='tools-btn-dropdown'>
          <a href="/financial-assistance/assets/">Financial Well-being Data Tool</a>
          <a href="/puf-data/insurance/">Survey File PUF Data Tool</a>
          <a href="/covid-data/preventive/">COVID-19 Data Tool</a>
        </div>
      </div>
      <a class='nav__link' href='/contact/'>Contact Us</a>
    </div>
  </div>
</nav>
