<nav class='chart-nav' aria-label='extendedNavbar'>
  <a href='/financial-well-being/assets/' class='chart-nav__container chart-nav__container--finance {% if active == "finance" %}chart-nav__container--active{%endif%}'>
    <p>Financial well-being data tool<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
  <a href='/puf-data/insurance/' class='chart-nav__container chart-nav__container--puf {% if active == "puf" %}chart-nav__container--active{%endif%}'>
    <p>SURVEY FILE PUF DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
  <a href='/covid-data/preventive/' class='chart-nav__container chart-nav__container--covid {% if active == "covid" %}chart-nav__container--active{%endif%}'>
    <p>COVID-19 DATA TOOL<svg class='arrow'><use href='#rightarrow'/></svg>
    </p>
  </a>
</nav>