.about-main {
  padding: 3rem 2rem;
}

.about {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
  display: flex;
  align-items: flex-start;

  h1 {
    font-weight: normal;
    font-size: 60px;
    margin: 0;
  }

  &__text {
    width: 76%;
  }

  &__nav {
    width: 20%;
    min-width: 180px;
    margin: 0 2rem 0 0;
    position: sticky;
    top: 1rem;
    border-bottom: 2px solid $mcbs-gray;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

    a {
      display: block;
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      color: $mcbs-gray;
      padding: 1rem;
      border-top: 2px solid $mcbs-gray;
      border-left: 2px solid $mcbs-gray;
      border-right: 2px solid $mcbs-gray;

      &:hover {
        color: white;
        background: $mcbs-blue;
      }

      &:focus-visible {
        color: white;
        background: $mcbs-blue;
      }
    }
  }

  section {
    border-bottom: 1px solid $mcbs-gray;
    padding: 3rem 0 1rem 0;

    h2 {
      font-size: 28px;
      margin: 0 0 1rem 0;
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
      margin: 0 0 1.5rem 0;
    }

    a {
      font-weight: bold;
      color: $mcbs-dark-blue;

      &:hover {
        color: $mcbs-gray;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    h3 {
      font-size: 18px;
      margin: 1rem 0;
    }

    h4 {
      font-size: 18px;
      margin: 0;
    }
  }

  &__indent {
    padding: 0 2rem;
    margin: 0 0 2rem 0;

    &--citation {
      background: $mcbs-lite-gray;
      padding: 1rem 2rem;
      font-family:'Courier New', Courier, monospace;

      p {
        margin: 0 !important;
      }
    }

    &__bold {
      font-weight: bold;
    }
  }

  ul {
    margin: 1rem 0;
    line-height: 1.5em;
    font-size: 18px;
  }
}

.about__table {
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
  box-sizing: border-box;
  border-collapse:collapse;

  th {
    border-bottom: 2px solid black;
    padding: 5px;
  }

  td {
    border-bottom: 1px solid $mcbs-gray;
    padding: 10px;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

@media all and (max-width: 565px) {
  .about {
    display: block;
    width: 100%;

    h1 {
      font-size: 52px;
    }

    &__nav {
      width: 100%;
      position: relative;
      top: 0;
    }

    &__text {
      margin: 2rem 0 0 0;
      width: 100%;
    }
    section {
      p {
        font-size: 16px;
      }

      h2 {
        font-size: 24px;
      }

      h3, h4 {
        font-size: 16px;
      }
    }
  }
}

@media all and (max-width: 320px) {
  section {
    p {
      font-size: 14px;
    }

    h2 {
      font-size: 20px;
    }
    h3, h4 {
      font-size: 14px;
    }
  }
}
