.footer-top {
  padding: 2.5rem 5vw;
  background-color: $mcbs-blue;
  text-align: center;

  h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    color: $mcbs-yellow;
  }

  h3 {
    font-size: 48px;
    font-weight: 300;
    color: white;
    width: 80%;
    margin: 0 auto 1rem auto;
  }

  p {
    font-size: 20px;
    color: white;
    width: 70%;
    min-width: 250px;
    margin: 1rem auto;
    line-height: 1.4em;
  }

  a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    color: $mcbs-yellow;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $mcbs-dark-blue;
  padding: 2.5rem 5vw;
}

.foot-left {
  width: 325px;
  img {
    width: 100%;
  }
}

.foot-right {
  p {
    text-align: right;
    color: white;
    line-height: 1.5em;
    margin: 0;
    font-weight: 100;
    font-size: 14px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
