.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $mcbs-dark-blue;
  padding: 2.5rem 5rem;
  margin: 0;
}

.foot-left {
  width: 325px;
  img {
    width: 100%;
  }
}

.foot-right {
  p {
    text-align: right;
    color: white;
    line-height: 1.5em;
    margin: 0;
    font-weight: 100;
    font-size: 14px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
