//Mobile heights
.rshinyframe {
  width: 100%;

  &--preventive {
    height: 2375px;
  }

  &--forgone {
    height: 2375px;
  }

  &--daily {
    height: 2375px;
  }

  &--well-being {
    height: 2375px;
  }

  &--telemedicine {
    height: 2455px;
  }

  &--information {
    height: 2415px;
  }

  &--vaccines {
    height: 2355px;
  }

  &--severity {
    height: 2375px;
  }

  &--health {
    height: 2378px;
  }

  &--satisfaction {
    height: 2170px;
  }

  &--insurance {
    height: 2170px;
  }
}

// Desktop heights
@media all and (min-width: 934px) {
  .rshinyframe {

    &--preventive {
      height: 945px;
    }

    &--forgone {
      height: 945px;
    }

    &--daily {
      height: 945px;
    }

    &--well-being {
      height: 945px;
    }

    &--telemedicine {
      height: 985px;
    }

    &--information {
      height: 945px;
    }

    &--vaccines {
      height: 990px;
    }

    &--severity {
      height: 945px;
    }

    &--health {
      height: 1055px;
    }

    &--satisfaction {
      height: 1005px;
    }

    &--insurance {
      height: 1005px;
    }
  }
}
