.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $mcbs-dark-blue;
  padding: 1.5rem 5vw;
  margin: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 0 0 0 2rem;

    &:hover {
      color: $mcbs-yellow;
    }
  }
}

.nav-logo {
  padding: 0 1.5rem 0 0;
  border-right: 1px solid white;
  width: 200px;

  img {
    width: 100%;
    transform: translate(0, 3px);
  }
}

.nav-title {
  font-weight: 300;
  font-size: 22px;
  color: white;
  margin: 0 0 0 1.5rem;
  letter-spacing: 1.5px;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin: 0 0 0 2rem;
}

.dropdown .drop-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 700;

  &:hover {
    color: $mcbs-yellow;
  }

  img {
    display: block;
    margin: 0 0 0 6px;
    width: 15px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  transform: translate(0, 10px);
  background-color: $mcbs-lite-gray;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 400;
  display: block;
  text-align: left;
  margin: 0;

  &:hover {
    color: black;
    background-color: $mcbs-yellow;
  }
}

.show {
  display: block;
}
