.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $mcbs-dark-blue;
  padding: 1.5rem 3vw;
  margin: 0;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-right {
  width: 40vw;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hamburger-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 1px 6px;

  &:hover {
    color: $mcbs-yellow;
  }

  &--home {
    display: none;
  }
}

.nav-logo {
  padding: 0 1.5rem 0 0;
  border-right: 1px solid white;
  width: 20vw;
  min-width: 100px;
  max-width: 200px;

  img {
    width: 100%;
    transform: translate(0, 3px);
  }
}

.nav-title {
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin: 0 0 0 1.5rem;
  letter-spacing: 1.5px;
}

.navbar-chevron {
  width: 16px;
  height: 18px;
  margin: 0 0 0 5px;
  fill: white;
  transition: all 0.3s ease-out;
}

.dropdown .drop-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 700;

  &:hover {
    color: $mcbs-yellow;
    .navbar-chevron {
      fill: $mcbs-yellow;
    }
  }

  img {
    display: block;
    margin: 0 0 0 6px;
    width: 15px;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  transform: translate(0, 10px);
  background-color: $mcbs-lite-gray;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-btn:focus-visible, .nav__link:focus-visible {
  outline: 1px solid white;
  outline-offset: 5px;
  border-radius: 3px;
  color: $mcbs-yellow;
}

.drop-btn.active {
  color: $mcbs-yellow;

  .navbar-chevron {
    fill: $mcbs-yellow;
    transform: rotate(90deg);
  }
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 400;
  display: block;
  text-align: left;
  margin: 0;

  &:hover {
    color: black;
    background-color: $mcbs-yellow;
  }
}

.dropdown-content a:focus-visible {
  color: black;
  background-color: $mcbs-yellow;
}

.dropdown-content.show {
  display: block;
}

.hamburger {
  display: none;
  pointer-events: none;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  transition: all .3s ease-out;

  svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: all .3s ease-out;
  }
}

.hamburger.active {
  background: $mcbs-yellow;
  border: 1px solid black;
  svg {
    fill: black;
  }
}

@media all and (min-width: 999px) {
  .nav-title {
    font-size: 22px;
  }

  .navbar {
    padding: 1.5rem 5vw;
  }

  .nav__link--home {
    display: block;
  }
}

@media all and (max-width: 740px) {
  .navbar {
    height: 3rem;
  }

  .nav-right {
    min-width: 0;
  }

  .hamburger {
    display: block;
    pointer-events: auto;
    cursor: pointer;
  }

  #hamburger-content {
    display: none;
    text-align: left;
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    background: $mcbs-lite-gray;
    z-index: 2000;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  }

  #hamburger-content.show {
    display: block;
  }

  .dropdown .drop-btn {
    color: black;
    padding: 12px 16px;
    display: block;
    width: 100%;
    text-align: left;

    &:hover {
      color: black;
      background: $mcbs-yellow;
    }

    &:hover .navbar-chevron {
      fill: black;
    }

    .navbar-chevron {
      fill: black;
      transform: translate(0,3px);
    }
  }

  .drop-btn.active .navbar-chevron {
    transform: translate(0,3px) rotate(90deg);
  }

  .nav__link {
    color: black;
    padding: 12px 16px;
    display: block;
    width: 100%;

    &:hover {
      color: black;
      background: $mcbs-yellow;
    }

  }

  .nav__link--home {
    display: block;
  }

  .dropdown-content {
    position: relative;
    transform: translate(0,0);
    box-shadow: none;
  }
}
