
.social-networks{
	list-style:none;
	padding: 0;
	margin: 1rem 0 0.5rem 0;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.network{
  width: 26px;
  margin: 0 15px 0 0;
  cursor:pointer;

  &:last-child{
    margin-right: 0;
  }

  &__icon{
    fill: $mcbs-blue;
    cursor:pointer;

    &:hover {
      fill: $mcbs-dark-blue;
    }
  }
}

.footer-top__social {
  margin: 0 0 2rem 0;
  .network{
    width: 26px;
    margin: 0 15px 0 0;
    cursor:pointer;

    &:last-child{
      margin-right: 0;
    }

    &__icon{
      fill: white;
      cursor:pointer;

      &:hover {
        fill: $mcbs-yellow;
      }
    }
  }
}
