// Variables

$mcbs-blue: #074480;
$mcbs-dark-blue: #06325D;
$mcbs-yellow: #FBBA17;
$mcbs-dark-yellow: #CE9407;
$mcbs-green: #317347;
$mcbs-gray: #939598;
$mcbs-lite-gray: #E6E7E8;
$mcbs-background-gray: #D3DAE4;


// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@import 'navbar';
@import 'footer';
@import 'home';
@import 'social';
@import 'chart';


body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
