// Variables

$mcbs-blue: #074480;
$mcbs-dark-blue: #06325D;
$mcbs-yellow: #FBBA17;
$mcbs-dark-yellow: #CE9407;
$mcbs-green: #317347;
$mcbs-gray: #939598;
$mcbs-lite-gray: #E6E7E8;
$mcbs-background-gray: #D3DAE4;


// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@import 'navbar';
@import 'footer';
@import 'home';


body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 2rem 5vw;
}

.splide {
  width: 76%;
  height: 400px;

  &__slide {
    width: 30%;
    min-width: 300px;
    height: 400px;
    background: pink;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    a {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      text-decoration: none;
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(0,0,0,0.5);
        .slide__info {
          bottom: 0;
          background: none;
          box-shadow: none;
        }
      }
    }
  }

  &__arrow--prev {
    left: -2rem;
  }

  &__arrow--next {
    right: 2rem;
  }
}

.slide__info {
  position: absolute;
  left: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  transition: all 0.5s ease;

  h4 {
    font-weight: 800;
    font-size: 26px;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 16px;
    margin: 0 0 1rem 0;
    line-height: 1.6em;
  }

  p.slide__info__explore  {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    color: $mcbs-yellow;
    &:hover {
      text-decoration: underline;
    }
  }
}
